<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件 demo</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/movie.css">
</head>
<body>
<h4>组件 demo</h4>
<div class="wrapper"></div>
<script src="/static/lib/jquery-3.0.0.min.js"></script>
<script src="/static/js/zujm/widget.js"></script>
<script src="/static/js/zujm/consts.js"></script>
<script src="/static/js/zujm/store.js"></script>
<script src="/static/js/zujm/api.js"></script>
<script src="/static/js/zujm/tooltip.js"></script>
<script src="/static/js/zujm/movie.js"></script>
<script src="/static/js/zujm/index.js"></script>
</body>
</html>